---
import Layout from "../../components/layouts/app.astro";
import Anchor from "../../components/ui/Anchor.astro";
import Container from "../../components/ui/Container.astro";

const experiences = [
  {
    title: "Scientific Research - Oral Biopathology",
    description: "UNITAU, Taubaté, SP - 2024",
    bulletPoints: [
      "Data analysis and visualization generation using Python libraries like Matplotlib to support academic research and data-driven decision-making.",
    ],
  },
  {
    title: "Soldier",
    description:
      "Brazilian Army, Pindamonhangaba, SP - March 2022 - January 2023",
    bulletPoints: [
      "Responsible for the security and guarding of military facilities.",
      "Team collaboration for the execution of missions and tasks.",
      "Rigorous access control at military checkpoints.",
      "Recognized with an honor certificate for exemplary performance.",
    ],
  },
];

const projects = [
  {
    title: "Clinica Integrada Amaral Haga (Clinic Management System)",
    description: "PHP, Laravel, Livewire, Alpine.js, MySQL",
    link: "https://github.com/diegorezm/clinica",
    bulletPoints: [
      "Developed a robust backend system with Laravel for managing patient, doctor, and appointment records.",
      "Complete CRUD functionality, allowing efficient creation, editing, viewing, and deletion of clinical records.",
      "Automatic verification of doctor availability, facilitating scheduling and organization of appointments.",
      "Interactive and responsive user interface built with Alpine.js and Livewire.",
      "Integration with MySQL database for secure and structured information storage.",
      "Full deployment on Hostinger, ensuring stability and online system accessibility.",
      "Modular architecture, enabling easy expansion and customization to meet specific clinic demands.",
    ],
  },
];

const certifications = [
  {
    href: "https://cert.efset.org/KdGLiQ",
    label: "English Proficiency Certificate - EF SET",
  },
  {
    href: "https://udemy-certificate.s3.amazonaws.com/image/UC-6fc7d4af-701d-446a-b69b-8e167018a749.jpg?v=1706800581000",
    label: "JavaScript and TypeScript from Basic to Advanced - Udemy",
  },
  {
    href: "https://udemy-certificate.s3.amazonaws.com/image/UC-7074fe91-0541-4bfd-bc58-af41912a6361.jpg?v=1703254492000",
    label: "Data Structures and Algorithms - Udemy",
  },
  {
    href: "https://www.cursoemvideo.com/validacao-de-certificado/?codigo=798CE-654D-9",
    label: "Excel 40 Hours - Curso em Vídeo",
  },
];

const skills = [
  {
    name: "Programming Languages",
    items: ["Java", "JavaScript/TypeScript", "Python", "PHP"],
  },
  {
    name: "Frameworks",
    items: ["Spring Boot", "Next.js", "React", "Svelte", "Laravel"],
  },
  {
    name: "Databases",
    items: ["PostgreSQL", "MySQL", "SQLite", "MongoDB"],
  },
  {
    name: "Tools",
    items: [
      "Git",
      "Docker",
      "Node.js",
      "Tailwind CSS",
      "CI/CD (GitHub Actions)",
    ],
  },
  {
    name: "Markup",
    items: ["HTML", "CSS", "Markdown"],
  },
];

const links = [
  {
    label: "diegorezm.app",
    icon: "lucide:globe",
    href: "https://diegorezm.netlify.app/",
  },
  {
    label: "diegommrez12@gmail.com",
    icon: "lucide:mail",
    href: "mailto:diegommrez12@gmail.com",
  },
  {
    label: "linkedin",
    icon: "lucide:linkedin",
    href: "https://linkedin.com/in/diegorezm",
  },
  {
    label: "github",
    icon: "lucide:github",
    href: "https://github.com/diegorezm",
  },
];
---

<Layout title="Resume">
  <div class="w-full flex justify-end gap-4 mt-10 mb-4">
    <Anchor
      label="PDF Version"
      icon="lucide:download"
      variant="secondary"
      size="md"
      href="/cv_en.pdf"
      isResponsive
    />
  </div>
  <Container id="resume" title="Resume" />
  <h1 class="text-3xl font-bold text-center text-accent">
    DIEGO REZENDE SANTOS DE MOURA
  </h1>
  <ul class="flex flex-wrap justify-center gap-2 text-center">
    {
      links.map((link, i) => (
        <li>
          <Anchor
            href={link.href}
            icon={link.icon}
            size="sm"
            variant="ghost"
            label={link.label}
          />
          {i < links.length - 1 && " | "}
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">Objective</h2>
  <p class="text-lg text-left text-foreground-alt mb-2">
    Full Stack Developer focused on PHP, Java, and JavaScript/TypeScript.
    Seeking opportunities to apply and expand my knowledge, contributing to
    innovative and challenging projects, enhancing technical solutions, and
    collaborating with teams.
  </p>
  <hr />
  <h2 class="resume-section-header">Education</h2>
  <h3 class="italic text-left text-lg">UNITAU - Taubaté, SP</h3>
  <p class="mb-2">
    <em>Systems Analysis and Development</em><br />
    January 2023 - December 2025
  </p>
  <hr />
  <h2 class="resume-section-header">Technical Skills</h2>
  <ul class="flex flex-col gap-2 mb-2">
    {
      skills.map((skill) => (
        <li>
          <strong>{skill.name}</strong>:
          {skill.items.map((item, i) => (
            <>
              <span>{item}</span>
              {i < skill.items.length - 1 && ", "}
            </>
          ))}
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">Experience</h2>
  <ul class="flex flex-col gap-4 mb-2">
    {
      experiences.map((experience) => (
        <li>
          <h3 class="text-left text-lg italic">{experience.title}</h3>
          <p>
            <em>{experience.description}</em>
          </p>
          <ul class="list-disc list-inside spaace-y-2">
            {experience.bulletPoints.map((point) => (
              <li>{point}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">Projects</h2>
  <ul class="flex flex-col gap-4 mb-2">
    {
      projects.map((project) => (
        <li>
          <h3 class="text-left text-lg italic">{project.title}</h3>
          <p>
            <>
              <Anchor
                href={project.link}
                icon="lucide:github"
                size="sm"
                variant="ghost"
                label="GitHub"
                target="_blank"
              />
              <br />
            </>
            <em>{project.description}</em>
          </p>
          <ul class="list-disc list-inside mt-2 space-y-2">
            {project.bulletPoints.map((point) => (
              <li>{point}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">Certifications</h2>
  <ul class="flex flex-col gap-2 mb-2 list-disc list-inside">
    {
      certifications.map((certification) => (
        <li>
          <Anchor
            href={certification.href}
            icon="lucide:shield-check"
            size="sm"
            variant="ghost"
            label={certification.label}
            target="_blank"
          />
        </li>
      ))
    }
  </ul>
</Layout>
