---
import Layout from "../../components/layouts/app.astro";
import ThemeChanger from "../../components/theme-changer.astro";
import Anchor from "../../components/ui/Anchor.astro";
import Container from "../../components/ui/Container.astro";

import { RESUME_EN } from "../../content/resume_en.ts";
import { RESUME_PT_BR } from "../../content/resume_pt_br";

const lang = Astro.url.searchParams.get("lang") || "en";

const langOptions = ["en", "pt-br"];

const selectedLang = langOptions.includes(lang) ? lang : "en";

const RESUME_CONTENT = selectedLang === "en" ? RESUME_EN : RESUME_PT_BR;

const { education, experiences, projects, skills, certifications } =
  RESUME_CONTENT;

const links = [
  {
    label: "diegorezm.app",
    icon: "lucide:globe",
    href: "https://diegorezm.netlify.app/",
  },
  {
    label: "diegommrez12@gmail.com",
    icon: "lucide:mail",
    href: "mailto:diegommrez12@gmail.com",
  },
  {
    label: "linkedin",
    icon: "lucide:linkedin",
    href: "https://linkedin.com/in/diegorezm",
  },
  {
    label: "github",
    icon: "lucide:github",
    href: "https://github.com/diegorezm",
  },
];
---

<Layout title="Resume" showNavbar={false}>
  <div class="w-full flex justify-between gap-4 mt-10 mb-6">
    <div>
      <Anchor
        label={selectedLang === "en" ? "Go back" : "Voltar"}
        icon="lucide:arrow-left"
        variant="primary"
        size="md"
        href="/"
        isResponsive
      />
    </div>
    <div class="flex flex-col space-y-2">
      <Anchor
        label={selectedLang === "en" ? "PDF Version" : "Versão em PDF"}
        icon="lucide:file-text"
        variant="secondary"
        size="md"
        href={selectedLang === "en" ? "/cv_en.pdf" : "/curriculo.pdf"}
      />
      <Anchor
        label={selectedLang === "en" ? "Português" : "English"}
        icon="lucide:languages"
        variant="secondary"
        size="md"
        href={selectedLang === "en" ? "/resume?lang=pt-br" : "/resume?lang=en"}
      />
      <ThemeChanger isNavbar />
    </div>
  </div>
  <Container id="resume" title="Resume" />
  <h1 class="text-3xl font-bold text-center text-accent">
    DIEGO REZENDE SANTOS DE MOURA
  </h1>
  <ul class="flex flex-row flex-wrap justify-center gap-2 text-center">
    {
      links.map((link, i) => (
        <li>
          <Anchor
            href={link.href}
            icon={link.icon}
            size="sm"
            variant="ghost"
            label={link.label}
          />
          <span class="hidden md:inline">{i < links.length - 1 && " | "}</span>
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Objective" : "Objetivo"}
  </h2>
  <p class="text-lg text-left mb-2">
    {
      selectedLang === "en" ? (
        <span>
          Full Stack Developer focused on PHP, Java, and JavaScript/TypeScript.
          Seeking opportunities to apply and expand my knowledge, contributing
          to innovative and challenging projects, enhancing technical solutions,
          and collaborating with teams.
        </span>
      ) : (
        <span>
          Desenvolvedor Full-Stack focado em PHP, Java e JavaScript/TypeScript.
          Procurando oportunidades para aplicar e expandir meu conhecimento,
          contribuindo para projetos inovadores e desafiadores, melhorando
          soluções técnicas e colaborando com equipes.
        </span>
      )
    }
  </p>
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Education" : "Educação"}
  </h2>
  {
    education.map((education) => (
      <div>
        <h3 class="italic text-left text-lg">{education.title}</h3>
        <p class="mb-2">
          <>
            <em>{education.description}</em>
            <br />
          </>
          {education.startDate} - {education.endDate}
        </p>
      </div>
    ))
  }
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Technical Skills" : "Habilidades Técnicas"}
  </h2>
  <ul class="flex flex-col gap-2 mb-2">
    {
      skills.map((skill) => (
        <li>
          <strong>{skill.name}</strong>:
          {skill.items.map((item, i) => (
            <>
              <span>{item}</span>
              {i < skill.items.length - 1 && ", "}
            </>
          ))}
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Experience" : "Experiência"}
  </h2>
  <ul class="flex flex-col gap-4 mb-2">
    {
      experiences.map((experience) => (
        <li>
          <h3 class="text-left text-lg italic">{experience.title}</h3>
          <p>
            <em>{experience.description}</em>
          </p>
          <ul class="list-disc list-inside spaace-y-2">
            {experience.bulletPoints.map((point) => (
              <li>{point}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Projects" : "Projetos"}
  </h2>
  <ul class="flex flex-col gap-4 mb-2">
    {
      projects.map((project) => (
        <li>
          <h3 class="text-left text-lg italic">{project.title}</h3>
          <p>
            <>
              <Anchor
                href={project.link}
                icon="lucide:github"
                size="sm"
                variant="ghost"
                label="GitHub"
                target="_blank"
              />
              <br />
            </>
            <em>{project.description}</em>
          </p>
          <ul class="list-disc list-inside mt-2 space-y-2">
            {project.bulletPoints.map((point) => (
              <li>{point}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
  <hr />
  <h2 class="resume-section-header">
    {selectedLang === "en" ? "Certifications" : "Certificações"}
  </h2>
  <ul class="flex flex-col gap-2 mb-2 md:list-disc list-inside">
    {
      certifications.map((certification) => (
        <li>
          <Anchor
            href={certification.href}
            icon="lucide:shield-check"
            size="sm"
            variant="ghost"
            label={certification.label}
            target="_blank"
          />
        </li>
      ))
    }
  </ul>
</Layout>
