---
import type { DefaultProps } from "./types";
import { Icon } from "astro-icon/components";
import { getDefaultClass, getIconSize, getSize, getVariant } from "./variants";

type ButtonType = "submit" | "reset" | "button";

type Props = DefaultProps & {
  type?: ButtonType;
  disabled?: boolean;
  onClick?: string;
};

const {
  label,
  icon,
  size = "md",
  variant = "primary",
  className = "",
  type = "button",
  isResponsive = false,
  disabled = false,
  onClick,
} = Astro.props as Props;

const iconSize = getIconSize(size);
const classNames = `${getDefaultClass(className)} ${getVariant(variant)} ${getSize(size)}  disabled:opacity-20 disabled:cursor-not-allowed`;
---

<button class={classNames} type={type} disabled={disabled} @click={onClick}>
  {icon && <Icon name={icon} class={iconSize} />}
  {
    label && (
      <span class={`${isResponsive ? "hidden md:inline" : ""}`}>{label}</span>
    )
  }
  <slot />
</button>
